body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;  
}
.navbar ul{
  
    list-style: none;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.navbar li{
    padding: 10px;
  
}
.navbar a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  
}
.show{
  display: block;
}
.hide{
  display: none;
}
.sidebar{
  position: fixed;
  top:100px;
  background-color:ghostwhite ;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  left:-100%;
  transition: 0.5s ease;
  text-align: center;
  z-index: 999;}
  .sidebar ul{
    list-style: none;
  }
  .sidebar li{
    padding: 10px;
    position: relative;
    left: -10px;
    font-weight: bold;
    font-size: 18px;
  }
  .sidebar a{
    text-decoration: none;
  }
  .sidebar button{
    width: 100%;
    font-weight: bold;
    font-size: 18px;
  }

.sidebar.show{
  left: 0
} 
.navbarcontainer{
  position: relative;
  background-color:ghostwhite !important;
  border-radius: 20px;
  height: 100px;
}
.menu,.close{
  position: absolute;
  right: 50px;
  top: 10px;
  margin: 20px;
  font-size: 50px;
  display: none;
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 50px;
  padding: 5px;
  transition: 0.5s ease;
}
.menu:hover,.close:hover{
     font-size: 60px;
}
.menu:active,.close:active{
     font-size: 30px;
}
@media screen and (max-width:700px){
  .navbar{
    display: none !important;
  }
  .logoimg{
    display: block !important;
  }
.menuIcons{
  display: block;
}
  .menu{
    display: block;
    
  }
  .close{
    display: block;
    
  }
}
@media screen and (min-width:700px) {
  .sidebar{
    display: none;
  }
}